#sidebar-menu ul li{padding-top: 15px;padding-bottom: 15px;
}
#sidebar-menu a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 12px;
    text-align: center;
    color: #616161;
}
#sidebar-menu ul li svg{width: 25px;height: 25px;color: #818181;
}
#sidebar-menu p {margin-top: 0.3rem;}

